@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    line-height: 1;
    color: #333;
}

.header {
    height: 90px;
    background-color: #0f3f8c;
}

.header .inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header .inner .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header .inner .nav {
    display: flex;
    justify-content: space-between;
}

.header .inner .nav ul li {
    display: inline-block; 
    /* 자동으로 간견 4-5px 정도 생기기 때문에 여백 생각하고 마진 넣기 */
    color: #fff;
    line-height: 90px;

}
/* ul.nav-left -> ul.클래스명으로 직관적으로 알 수잇음*/
.header .inner .nav ul.nav-left li {
    margin-left: 20px;
}
.header .inner .nav ul.nav-right li {
    margin-right: 20px;
}

.main-visual {
    height: 768px;
    display: flex;
}

.main-visual figure {
    width: 33.33%;
    height: 100%;
}

.main-visual figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

